#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	sed -i "s#/etc/intelmq/api-session.sqlite#/var/lib/dbconfig-common/sqlite3/intelmq-api/intelmqapi#" debian/intelmq-api/etc/intelmq/api-config.json
	# Remove files placed by setuptools, not needed with the DEB package
	rm debian/intelmq-api/etc/intelmq/intelmq-api.service
	rm debian/intelmq-api/etc/intelmq/intelmq-api.socket
	rm debian/intelmq-api/etc/intelmq/api-sudoers.conf
