#Github Workflow Python unittests
#
#SPDX-FileCopyrightText: 2020 IntelMQ Team
#SPDX-License-Identifier: AGPL-3.0-or-later

name: "Python unittests"

on:
  push:
  pull_request:
    branches: [ develop ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run unittests
      run: |
        python -m unittest discover -s tests/
